* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #000000;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #296e01;
}

header {
  align-items: baseline;
}

footer {
  flex-direction: column;
  padding: 3%;
  align-items: center;
}

.footer-contact-info {
  margin-bottom: 24px;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#home-screen {
  width: 36%;
}

.vin-dtc-section {
  margin: 72px 0 72px 0;
}

.vin, .make, .made-in, .dtc, .dtc-description {
  margin: 12px 0 12px 0;
}

.button-wrapper {
  margin: 24px 0 24px 0;
}

#vin, #dtc {
  border: 1px solid;
  border-radius: .3em;
  border-color: #686868;
}

.button {
  background-color: #E8E8E8;
  border-radius: .3em;
}

.button:hover {
  border-color: #505050;
}

.footer-contact-info {
  margin: 6px;
}